.button {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 140px;
  height: 150px;
  font-size: 1rem;
  margin: 40px 4px 0 4px;
}

.link {
  text-decoration: none;
}
