.App {
  text-align: center;
}

.rotate {
  transform: rotate(180deg);
}

#resultZone {
  height: 180px;
}

.resultZone {
  height: 180px;
}

.infoContainer {
  padding-top: 60px;
  padding-bottom: 88px;
}

.switch {
  font-size: 1.2rem;
}

.modalHideBtn .btn-close {
  background-color: red;
}

.snowFallSwitch {
  position: fixed;
  right: 10px;
  bottom: 8px;
  z-index: 100;
}
.snowFallSwitchIcon {
  position: relative;
  font-size: 18px;
  bottom: 2px;
}
