.App {
  text-align: center;
}

.rotate {
  transform: rotate(180deg);
}

#resultZone {
  height: 280px;
}

.infoContainer {
  padding-top: 60px;
  padding-bottom: 88px;
}

.switch {
  font-size: 1.2rem;
}
