.App {
  text-align: center;
}

.rotate {
  transform: rotate(180deg);
}

#resultZone {
  height: 180px;
}

.resultZone {
  height: 180px;
}

.infoContainer {
  padding-top: 60px;
  padding-bottom: 88px;
}

.switch {
  font-size: 1.2rem;
}

.modalHideBtn .btn-close {
  background-color: red;
}

.snowFallSwitch {
  position: fixed;
  right: 10px;
  bottom: 8px;
  z-index: 100;
}
.snowFallSwitchIcon {
  position: relative;
  font-size: 18px;
  bottom: 2px;
}

.helpButton {
  border: none;
  background-color: transparent;
  color: white;
  padding: 4px;
}

.helpButtonIcon {
  font-size: 20px;
  font-weight: bold;

  line-height: 1;
}

.helpButtonIconBlack {
  font-size: 20px;
  font-weight: bold;

  line-height: 1;
  color: black;
}

.guideBody img {
  width: 100%;
}

.reportButton {
  margin: 6px;
}
