.card {
  margin-top: 20px;
}

.itemContainer {
  display: flex;
  font-size: 20px;
  min-height: 40px;
}

.itemContainer span,
address {
  text-align: left;
}

.icon {
  font-size: 28px;
  margin-right: 12px;
  /* margin-top: 4px; */
}

.phoneLink {
  text-decoration: none;
  color: currentColor;
  transition: all 1s;
}

.phoneLink:hover {
  text-decoration: underline;
  color: blue;
}

.sharingContainer {
  padding-top: 6px;
  display: flex;
  justify-content: flex-end;
}

.sharingButton {
  margin-left: 20px;
  height: 40px;
}

.sharingIcon {
  height: 28px;
}
